.bg-black {
  background-color: var(--color-black);
}

.bg-grey {
  background-color: var(--color-grey);
}

.bg-maroon {
  background-color: var(--color-maroon);
}

.bg-light-grey {
  background-color: var(--color-light-grey);
}

.bg-red {
  background-color: var(--color-red);
}

.bg-white {
  background-color: var(--color-white);
}

.gradient {
  background-image: var(--gradient);
}