@import url("./components/styles.css");

:root {
    --color-red: #C11B34;
    --color-red-alt: #DB0C19;
    --color-grey: #A39B99;
    --color-grey-alt: #CCC4BF;
    --color-white: #FAF4F0;
    --color-black: #1C1F22;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-black);
}

.main {
    min-height: calc(100vh - 4.6rem);
    /* overflow: hidden; */
}

.input-group .input-field {
    min-height: 3rem;
    background-color: var(--color-grey-alt);
    padding: .5rem 1rem;
    border-radius: .25rem;
    color: var(--color-black);
}

/* .input-group .input-field:focus {
    border-width: 2px;
    padding: .5rem 1rem;
} */

::selection {
    background-color: var(--color-red);
    color: var(--color-white);
}

.required {
    cursor: help;
}

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    /*  */
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}