/* ? Local components */
/* @import './components/animation.css'; */
/* @import './components/background.css'; */
@import './components/banner.css';
/* @import './components/button.css'; */
@import './components/color.css';
@import './components/font.css';
/* @import './components/footer.css'; */
@import './components/property/item.css';

/* ? External components */
/* @import './components/filter.css'; */
/* @import './components/floating.css'; */
/* @import './components/validation.css'; */
/* @import './components/tab.css'; */
@import './components/nav.css';
@import './components/sidebar.css';

:root {
    --color-red: #C11B34;
    --color-red-alt: #DB0C19;
    --color-grey: #A39B99;
    --color-grey-alt: #CCC4BF;
    --color-white: #FAF4F0;
    --color-black: #1C1F22;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-black);
}

.main {
    min-height: calc(100vh - 4.6rem);
}

/* .input-group .input-field {
    background: white;
    border: 1px solid var(--color-black);
    color: var(--color-black);
    padding: calc(.5rem + 1px) 1rem;
    resize: none;
}

.input-group .input-field:focus {
    border-width: 2px;
    padding: .5rem 1rem;
} */

::selection {
    background-color: var(--color-red);
    color: var(--color-white);
}

.required {
    cursor: help;
}

/* ? MD */
@media (min-width: 768px) {
    /*  */
}

/* ? LG */
@media (min-width: 1024px) {
    /*  */
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}