.bg-one {
    background-color: var(--color-red);
}

.bg-one-alt {
    background-color: var(--color-red-alt);
}

.bg-two {
    background-color: var(--color-grey);
}

.bg-two-alt {
    background-color: var(--color-grey-alt);
}

.bg-three {
    background-color: var(--color-white);
}

.bg-four {
    background-color: var(--color-black);
}