.btn {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    min-width: 5rem;
    min-height: fit-content;
    border-radius: .25rem;
    font-size: .9rem;
    box-shadow: none;
    cursor: pointer;
    transition: 500ms;
}
/* .btn:hover {
    animation: pulse infinite 1500ms;
} */

/* .btn.btn-icon {
    min-width: fit-content;
    padding: .5rem;
    font-size: 1.2rem;
} */

/* .btn.round {
    border-radius: 50%;
} */

/* .btn.btn-uno {
    background-color: var(--color-red);
    color: var(--color-white);
}
.btn.btn-uno.active,
.btn.btn-uno:hover {
    background-color: var(--color-red-alt);
    color: var(--color-white);
}

.btn.btn-uno-transparent {
    background-color: transparent;
    color: var(--color-red);
}
.btn.btn-uno-transparent.active,
.btn.btn-uno-transparent:hover {
    background-color: var(--color-red);
    color: var(--color-white);
} */

.btn.btn-background {
    background-color: var(--color-red);
    color: var(--color-white);
    font-weight: bold;
    transition: 500ms;
}
.btn.btn-background:hover {
    background-color: var(--color-red-alt);
}