.color-red {
    color: var(--color-red);
}

.color-red-alt {
    color: var(--color-red-alt);
}

.color-grey {
    color: var(--color-grey);
}

.color-grey-alt {
    color: var(--color-grey-alt);
}

.color-white {
    color: var(--color-white);
}

.color-black {
    color: var(--color-black);
}