.gallery, .gallery *, .gallery *::before, .gallery *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery .gallery-menu-list {
    width: 100%;
    overflow-y: scroll;
}

.gallery .gallery-menu-list ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;
}

.gallery .gallery-menu-list li {
    max-width: var(--gallery-button-width, 40%);
    min-width: var(--gallery-button-width, 40%);
    height: var(--gallery-image-height, 3.5rem);
}

.gallery .gallery-menu-list .gallery-button {
    display: block;
    width: 100%;
    transition: 500ms;
}

.gallery .gallery-menu-list .gallery-button img {
    width: 100%;
    height: var(--gallery-image-height, 3.5rem);
    object-fit: cover;
}

.gallery .gallery-menu-list .gallery-button.active img {
    opacity: .2;
}

.gallery .active:not(.gallery-button) {
    width: calc((100% / 12) * 9);
}

.gallery .gallery-image {
    width: 100%;
    height: var(--gallery-image-height, 20rem);
    object-fit: cover;
}

/* ? MD */
@media (min-width: 768px) {
    .gallery {
        --gallery-button-width: 15%;
    }

    .gallery.vertical {
        --gallery-button-width: 100%;
        flex-wrap: nowrap;
    }

    .gallery.vertical .gallery-menu-list {
        width: 25%;
        height: var(--gallery-image-height, 20rem);
    }

    .gallery.vertical .gallery-menu-list ul {
        flex-wrap: wrap;
        max-height: 100%;
        overflow-y: scroll;
    }

    .gallery.vertical .gallery-image {
        width: 100%;
    }
}

/* ? LG */
@media (min-width: 1024px) {
    .gallery {
        gap: 0;
    }

    .gallery :where(.gallery-menu-list, .gallery-menu-list ul) {
        padding-bottom: .5rem;
    }

    .gallery.vertical :where(.gallery-menu-list, .gallery-menu-list ul) {
        padding-bottom: 0;
        padding-right: .5rem;
    }
}

/* ? XL */
@media (min-width: 1200px) {
    /*  */
}

/* ? 2XL */
@media(min-width: 1536px){
    /*  */
}

/* ? 3XL */
@media(min-width: 1920px){
    /*  */
}